body {
    background-color: #0a192f;
    color: #57637d;
}

nav {
    color: #3ead9c;
    padding-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
}

#intro {
    color: #3ead9c;
}

#bpres {
    border-radius: 50%;
}

#name {
    color: #ccd6f6;
    font-size: clamp(40px, 8vw, 80px);
}

#presentation {
    margin: 20px 0px 0px;
    max-width: 580px;
}

h4 {
    color: #3ead9c;
}